.menuContainer {
  display: flex;
  flex-direction: row;
}

.menuItem {
  background: #1396d9;
  padding: 10px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}

.menuItem:hover {
  background: #0f325a;
  text-decoration: underline;
}

.menuItemClicked {
  padding: 10px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
  background: #0f325a;
  text-decoration: underline;
}
